[submodule "mesh_generation/classy_blocks"]
	path = mesh_generation/classy_blocks
	url = https://github.com/damogranlabs/classy_blocks
[submodule "simulation-integration/bayes_opt_with_constraints"]
	path = simulation-integration/bayes_opt_with_constraints
	url = https://github.com/trsav/bayes_opt_with_constraints
