data/
.pre-commit-config.yaml
.flake8
*__pycache__
debug.vtk
.DS_Store
pulsed_flow_helical_tube/simulations/
parameterisation_study/simulations/
time_gp_test.py 
**/*.png
*logs.out
todo 
pulsed_flow_helical_tube/second_run
pulsed_flow_helical_tube/third_run
*data.json
**/run.sh
visualisation/
pulsed_flow_helical_tube/**
environment_old.yml
!images/inversion_demo.png