data/
.pre-commit-config.yaml
.flake8
*__pycache__
debug.vtk
.DS_Store
pulsed_flow_helical_tube/simulations/
parameterisation_study/simulations/
time_gp_test.py 
**/*.png
*logs.out
todo 
pulsed_flow_helical_tube/**/
*data.json
debug.vtk
visualisation/
environment_old.yml
mesh_generation/test
!images/inversion_demo.png
plot_data.py
plot_data.sh
plot.out
delete.sh

plotting.py
parameterisation_study/cylindrical_discrepancy 
parameterisation_study/cylindrical_discrepancy_two
parameterisation_study/failed_cylindrical_run
parameterisation_study/cross_section
mesh_generation/coil_cylinder_test
parameterisation_study/standard_simulation
parameterisation_study/both
symbolic_mf_data_generation/high
symbolic_mf_data_generation/low
symbolic_mf_data_generation/high_full
parameterisation_study/standard_pulsed_flow
parameterisation_study/control_cylinder
parameterisation_study/control_standard
parameterisation_study/cross_section_pf
parameterisation_study/cylindrical_discrepancy_pf 
parameterisation_study/full 
parameterisation_study/basic_standard_simulation_smaller
julia-1.8.5
mesh_generation/cross_section
mesh_generation/cross_section_path
mesh_generation/experimental_both
mesh_generation/experimental_control
mesh_generation/experimental_cross
mesh_generation/standard
usable_fidelities/run_axial_radial_maxCo_deltaT.sh
usable_fidelities/run_axial_radial_maxCo.sh
usable_fidelities/run_axial_radial.sh
symbolic_mf_data_generation/toy
symbolic_mf_data_generation/gen_high_full.sh
symbolic_mf_data_generation/gen_high.sh
symbolic_mf_data_generation/gen_low.sh
symbolic_mf_data_generation/exp_design